
.navbar-brand{
    box-shadow: aliceblue;
    background-color: cadetblue;
    color: rgb(251, 252, 253)!important;
    font-weight: 700;
}
a{
    color: black;
}
img{
  display: grid;
  margin-left: 0px;
  margin-right: 0px;
  width: 70px;
}

.row{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 5px ;
}
.page-header{
    padding-left: 0px;
    display: block;
    height: 70px;
    color: teal ;
    border-bottom-width: thick;
    border-bottom-color: black;
}
.col-md-6{
    display: grid;
    border: cornsilk;
    background-color: ghostwhite;
    padding-right: 0px;
    margin-right: 0px;
    
}
.col-md-5{
    display: grid;
    border: cornsilk;
    background-color: ghostwhite;
    padding-right: 0px;
    margin-right: 0px;
    
}
.container {
    padding-top: 30px;
    padding-bottom: 30px;
}
main {
    background-color:lightgray;
}
.boutmeinfo{
    margin-top: 70px;
    position: absolute;
}
.boutme {
    float: left;
    border: lightgreen;
    border-style: ridge;
    width: 200px;
    height: 195px;
    padding: 0 10px 0 0;
    margin-right: 10px;
    
}
.textboutme {
    padding: 10px;
    text-align: justify;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.perinfo {
    font-weight: bold;
}
.workimg{
    display: block;
    width: 500px;
    height: 300px;
}
@media screen and (max-width: 768px){
    img {
        margin-bottom: 40px;
    }
    .row {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .page-header {
        margin-bottom: 30px;
    }
    
}
